body {
    background-color: #eee;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: #222fff;
    text-align: left;
    text-indent: 7px;
    line-height: 1.7;
    word-spacing: 3px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0,0.4);
}

a {
    color:#ffffff;
    background-color: red;
    padding: 10px;
    border: solid 1px;
    border-radius: 4px;
    text-transform: lowercase;
    letter-spacing: 3px;
    
}

a:visited {
    color:white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration:underline;
}

ul {
    list-style-type: none;
    background-color: #ffffff;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-left: 0px;
    }

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}

table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}
table th {
    background-color: #4caf50;
    color: #ffffff;
    text-aligh: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

span {
   display: block; 
}

p {
    max-width: 350px;
    background-color: #f00;
    position: relative;
   /*la etiqueta de (fixed) funciona para dejar el contenido
   fijo y seguir agregand informacion*/ 
}

#over {
   width: 100px;
    height: 100px;
}