html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: slategray;
}

header {
    background-color: black;
    color:#ffffff;
    padding: 15px 15px;
    text-align: center;
}